---
const { frontmatter } = Astro.props
import BaseLayout from './BaseLayout.astro'
---

<BaseLayout>
  <div class='blog-hero'>
    <h1>{frontmatter.title}</h1>
    <p>Written by: {frontmatter.author}</p>
    <p>Published on: {frontmatter.pubDate.toLocaleDateString()}</p>
    <p><em>{frontmatter.description}</em></p>
  </div>
  <ul>
    {
      frontmatter.tags.map((tag: string) => {
        return (
          <li>
            <a href={`/tags/${tag}`}>{tag}</a>
          </li>
        )
      })
    }
  </ul>
  <slot />
</BaseLayout>

<style define:vars={{ backgroundImageUrl: `url("${frontmatter.image.url}")` }}>
  .blog-hero {
    background-image: var(--backgroundImageUrl);
    background-size: cover;
    width: 100%;
    padding: 1.5rem;
  }

  .blog-hero h1,
  .blog-hero p {
    color: white;
  }

  p {
    margin: 0.5rem 0;
  }

  ul {
    padding: 0;
    display: flex;
    gap: 0.5rem;
  }
  li {
    list-style: none;
  }

  li a {
    padding: 10px;
    border: 1px solid purple;
    border-radius: 0.75rem;
    text-decoration: none;
  }
</style>
